.profile__info {
  margin-left: 29px;
  display: grid;
  grid-template-columns: 1fr 24px;
  grid-template-rows: 1fr 18px;
  gap: 18px;
  grid-row-gap: 3px;
  max-width: 340px;
}

@media (max-width:950px) {
  .profile__info {
    gap: 9px;
    grid-template-columns: 1fr 18px;
  }
}
