.popup__save-button {
  font-family: 'Inter', ‘Arial’, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  color: #FFFFFF;
  background: #000000;
  border-radius: 2px;
  margin-top: 48px;
  height: 50px;
  
}

@media (max-width:950px) {
  .popup__save-button {
    font-size: 14px;
    line-height: 17px;
    height: 46px;
    margin-top: 40px;
  }
}

.popup__save-button:hover {
  opacity: 0.8;
  transition: opacity .25s ease-in-out;
  cursor: pointer;
}
