.popup__container{
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 29.1%;
  height: 35%;
  max-width: 430px;
  max-height: 330px;
  background: #FFFFFF;
  box-shadow: 0px 0px 25px rgb(0 0 0 / 15%);
  border-radius: 10px;
}
@media (max-width:950px){
  .popup__container{
      width: 87.5%;
  }
}
