.header__logo{
    width: 69%;
    min-height: 33px;
    margin:45px auto;
    background-image: url("../../../images/logo.png");
    background-size: contain;
    background-repeat: no-repeat;
}
@media (max-width:624px){
    .header__logo{
      margin-top: 8.8%;
      margin-bottom: 8%;
      min-height: 25px;
      border: solid red 1px;
      width: 83%;
    }
}

