.popup__form {
  display: flex;
  flex-direction: column;
  width: calc(100% - 72px);
  border: 0;
  margin: auto;
  padding-top: 15px;
  padding-bottom: 0;
}

@media (max-width:950px) {
  .popup__form {
    width: 85%;
    padding-top: 45px;
  }
}
