.elements {
  width: 69%;
  margin: 55px auto;
  display: grid;
  grid-template-columns: repeat(auto-fit,280px);
  grid-auto-rows: minmax(max-content,361px);
  column-gap: 17px;
  row-gap: 20px;
  justify-content: center;
}

@media (max-width:950px) {
  .elements {
    width: 87.5%;
    margin: 4px auto;
  }
}
