.popup__close-button {
  background-image: url("./../../../images/close_icon.svg");
  background-size: contain;
  width: 55px;
  height: 55px;
  position: absolute;
  top: -48px;
  right: -48px;
}

@media (max-width:950px) {
  .popup__close-button {
    width: 37px;
    height: 37px;
    top: -52px;
    right: 0px;
  }
}

.popup__close-button:hover {
  opacity: 0.6;
  transition: opacity .25s ease-in-out;
  cursor: pointer;
}
