.popup__title {
  font-family: 'Inter', ‘Arial’, sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 24px;
  line-height: 29px;
  color: #000000;
  margin: auto;
  width: calc(100% - 72px);
}

@media (max-width:1279px) {
  .popup__title {
    font-size: 18px;
    line-height: 22px;
  }
}

@media (max-width:950px) {
  .popup__title {
    width: 85%;
  }
}
